.header-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
        }
.view-messages{
    margin-bottom: 90px;
    margin-right: 50px;
}

.chat-button{
    background-color: #D9932B;
    color: white;
    border-radius: 5px;
    /* font-weight: ;   */
    padding: 7px 25px 7px 25px;
    font-size: medium;
    border: none;
}
#profile-head{
    display: grid;
    grid-template-columns: 100px auto ;
    grid-template-rows: 1fr 1fr 1fr;
        
}
#pfp{
    grid-area: 1/1/4/2;
    align-self: start;
    justify-self: end;
    
    
}
#item{
    margin-top: 15px;
    justify-self: start;
    align-self: end;
}
#name{
    margin-left: 5px;
    font-weight: bold;
    font-size: x-large;
}
#location{
    font-size: small;
}
#likes{
    font-size: x-small;
    
}
.edit-profile{
    grid-area: 2/1/3/2;
    margin-left: 35px;
    margin-top: 7px;
    font-size: x-small;
}
.edit-profile a{
    text-decoration: underline;
    color: black;
}


.about-me {
    flex-direction: column;
}

.about-me-title{
    margin-left: 50px;
    font-family: Hermeneus One;
    font-size: 20px;
}

.bio-container{
    border: 3px solid #FF5678;
    border-radius: 50px;
    width: 450px;
    height: 200px;
    padding: 50px;
    margin: 20px;
}

.bio, .nationality, .interests {
    display: flex;
}

.bio-title, .nationality-title, .interests-title {
    font-size: 25px;
    font-family: Hermeneus One;
    margin-right: 30px;
    color: #FF5678;
}

.bio-description, .nationality-description, .interests-description{
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 16px;
}





